<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="{{ preview }}">
  <meta property="og:title" content="{{ title }} - The Works">
  <meta property="og:description" content="{{ preview }}">
  <meta property="og:image" content="{{ '/static/' + image | url }}">
  <meta property="twitter:title" content="{{ title }} - The Works">
  <meta property="twitter:description" content="{{ preview }}">
  <meta property="twitter:image" content="{{ '/static/' + image | url }}">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="shortcut icon" href="{{ '/images/favicon.png' | url }}" type="image/x-icon">
  <title>{{ title }}</title>
  
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/hamburgers.css">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/zyv1ewm.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
  {% include 'header.njk' %}
  {{ content | safe }}
  {% include 'footer.njk' %}
</body>
</html>
