<!DOCTYPE html>
<html lang="en">
<head>

<meta content="Spiritual inspired and science-backed is at the core of all our current and coming endeavours; Lamark and The Works." name="description">
  <meta content="Harmonic Coherence - The Works" property="og:title">
  <meta content="GSpiritual inspired and science-backed is at the core of all our current and coming endeavours; Lamark and The Works." property="og:description">
  <meta content="images/OG.jpg" property="og:image">
  <meta content="Harmonic Coherence - The Works" property="twitter:title">
  <meta content="Spiritual inspired and science-backed is at the core of all our current and coming endeavours; Lamark and The Works." property="twitter:description">
  <meta content="images/OG.jpg" property="twitter:image">
  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="{{ '/images/favicon.png' | url }}" rel="shortcut icon" type="image/x-icon">

    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet" type="text/css" href="/hamburgers.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</head>
<body>
    {% include 'header.njk' %}
    {{ content | safe }}
    {% include 'footer.njk' %}
</body>