<div class="section-wrapper">
<div class="textbox-container" style="margin-bottom: 20px;">    <!--Footer-->
    <div style="display: flex; flex-direction: column; align-items: center; gap: 2px; flex: 1; width: 100%;">
        <div class="card-default"><img style=height:40px src="/images/theworks-black.png"></div>
        <div class="card-default">
            <h4>Company Details</h4>
            <p>The Works Research Institute B.V.<br>
                Karthuizersstraat 153<br>
                1015 LP Amsterdam<br>
                <br>
                COC 73955981<br>
                VAT NL 8597 23 239 B 01</p>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; gap: 2px; flex: 1; align-self: stretch; width: 100%;">
        <div class="card-default" style="flex: 1;">
            <h4>Contact</h4>
            <div class="button">welcome@theworks.info<div class="underline"></div></div>
        </div>
        <div class="footer-buttons">
            <div class="button-icon">
                <img src="/images/linkedin.png">
                <div class="button">LinkedIn<div class="underline"></div></div>
            </div>
            <div class="button-icon">
                <img src="/images/osd.png">
                <div class="button">OSF<div class="underline"></div></div>
            </div>
            <div class="button-icon">
                <img src="/images/ResearchGate.png">
                <div class="button">ResearchGate<div class="underline"></div></div>
            </div>
        </div>
    </div>
</div>
</div>