<div class="section-wrapper">
<div class="textbox-container" style="margin-bottom: 20px; margin-top:40px;">    <!--Footer-->
    <div style="display: flex; flex-direction: column; align-items: center; gap: 2px; flex: 1; width: 100%;">
        <div class="card-default"><img style=height:40px src="/images/theworks-black.png"></div>
        <div class="card-default">
            <h4>Company Details</h4>
            <p>The Works Research Institute B.V.<br>
                Van Eeghenstraat 126<br>
                1071 GM Amsterdam<br>
                <br>
                COC 73955981<br>
                VAT NL 8597 23 239 B 01<br>
                <br>
                © 2024 The Works Research Institute</p>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; gap: 2px; flex: 1; align-self: stretch; width: 100%;" id="Contact">
        <div class="card-default" style="flex: 1;">
            <h4>Contact</h4>
            <div class="button-icon" style="padding: 0px; align-items: start; ">
                <img src="/images/Mail.png">
                <a href="mailto:welcome@theworks.info" class="button" style="padding: 0px 0px 0px 10px; height: 24px;">welcome@theworks.info<div class="underline"></div></a>
            </div>
        </div>
        <div class="footer-buttons">
            <div class="button-icon">
                <img src="/images/linkedin.png">
                <a href="https://www.linkedin.com/company/the-works-research-institute/" target="_blank" class="button">LinkedIn<div class="underline"></div></a>
            </div>
            <div class="button-icon">
                <img src="/images/osd.png">
                <a href="https://osf.io/p8nrh/?view_only=862b89688634416aac0da9ea4ab2bcf8" target="_blank" class="button">OSF<div class="underline"></div></a>
            </div>
            <div class="button-icon">
                <img src="/images/ResearchGate.png">
                <a href="https://www.researchgate.net/lab/The-Works-Research-Institute-Paul-Oomen" target="_blank" class="button">ResearchGate<div class="underline"></div></a>
            </div>
        </div>
    </div>
</div>
</div>