<div class="menu-container">
        <a href="/" class="button-logo"><img style=height:40px src="/images/theworks-black.png"></a>
        <div class="buttons-container">
            <a href="/work" class="button">Works<div class="underline"></div></a>
            <a href="/team" class="button">Team<div class="underline"></div></a>
            <a href="#Contact" class="button">Contact<div class="underline"></div></a>
        </div>
        <div class="button-logo sandwich">
            <div class="hamburger hamburger--spring">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
              </div>
        </div>
        <div class="mobile-menu">
            <a class="link" href="/work">Works<div class="href-arrow"></div></a>
            <a class="link" href="/team">Team<div class="href-arrow"></div></a>
            <a class="link" id="contactbutton" href="#Contact">Contact<div class="href-arrow"></div></a>
        </div>
        <script src="{{ '/js/menu-toggle.js' | url }}"></script>
    </div>