<div class="menu-container">
        <a href="/index" class="button-logo"><img style=height:40px src="/images/theworks-black.png"></a>
        <div class="buttons-container">
            <a href="/index" class="button" style="display: none;">About<div class="underline"></div></a>
            <a href="/work" class="button">Our work<div class="underline"></div></a>
            <a href="/news" class="button">News<div class="underline"></div></a>
            <a href="/team" class="button">Team<div class="underline"></div></a>
            <a href="/contact" class="button">Contact<div class="underline"></div></a>
        </div>
        <div class="button-logo sandwich">
            <div class="hamburger hamburger--spring">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
              </div>
        </div>
        <div class="mobile-menu">
            <a class="link" href="">About<div class="href-arrow"></div></a>
            <a class="link" href="">Our work<div class="href-arrow"></div></a>
            <a class="link" href="">News<div class="href-arrow"></div></a>
            <a class="link" href="">Team<div class="href-arrow"></div></a>
            <a class="link" href="">Contact<div class="href-arrow"></div></a>
        </div>
        <script src="../js/menu-toggle.js"></script>
    </div>