<!DOCTYPE html>
<html lang="en">
<head>

<meta name="robots" content="noindex, nofollow">

<meta content="The Works Research Institute provides new understanding of the principles of sound wave dynamics and its benefits for human wellbeing, nature and beyond." name="description">
  <meta content="Harmonic Coherence - The Works" property="og:title">
  <meta content="The Works Research Institute provides new understanding of the principles of sound wave dynamics and its benefits for human wellbeing, nature and beyond." property="og:description">
  <meta content="images/OG.jpg" property="og:image">
  <meta content="Harmonic Coherence - The Works" property="twitter:title">
  <meta content="The Works Research Institute provides new understanding of the principles of sound wave dynamics and its benefits for human wellbeing, nature and beyond." property="twitter:description">
  <meta content="images/OG.jpg" property="twitter:image">
  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="{{ '/images/favicon.png' | url }}" rel="shortcut icon" type="image/x-icon">

    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet" type="text/css" href="/hamburgers.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/zyv1ewm.css">
    <link rel="stylesheet" href="https://use.typekit.net/zyv1ewm.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</head>
<body>
    {{ content | safe }}
</body>