---
title: ION - The Works
layout: 'base.njk'
---

<div class="section-wrapper">
<article class="feature-container normalwide">
    <div class="feature-image" style="width: 3fr; background-image: url('images/ion-logo.jpg'); background-size: cover; background-position: center">
    </div>
    <div class="teaser-card" style="width: 4fr">
      <div class="titlebox">
          <h2>ION</h2>
      </div>
     <div class="textbox">
            <p style="width: 100%;">ION is a financial instrument developed on behalf of human wellbeing, nature and beyond.</p>
      </div>
 </div>
</article>
</div>
<div class="section-wrapper">
    <div class="textbox-container about">
        <div class="titlebox"><h2>About ION</h2></div>
        <div class="textbox"><ul class="unorderedlist">
            <li>ION is the financial instrument of The Works Research Institute. By purchasing ION wavelets, you support research & development on behalf of human wellbeing, nature and beyond.</li>
            <li>ION wavelets can be exchanged for a product or service created by The Works Research Institute. An overview of products is provided in the ION app.</li>
            <li>A wavelet is a single oscillation with an amplitude that begins at zero, increases, and then decreases back to zero over a period of time.</li>
            <li>ION wavelets oscillate over a period of 100 years. Its value increases 2.83 times over fifty years from the moment of purchase, and then equally decreases over the next fifty years.</li>
            <li>ION is connected to IBAN and funds can be transferred at any time.
        </ul>
        <a href="https://apps.apple.com/us/app/ion-wavelet/id6742195938" target="_blank" class="button-card"><img src="images/app-store.svg"></a>
        <a href="https://play.google.com/store/apps/details?id=info.theworks.ion" target="_blank" class="button-card"><img src="images/google-play.svg"></a>
        </div>
    </div>
</div>

