---
title: Harmonic Coherence - The Works
layout: 'base.njk'
---
<script src="../js/boxheight.js"></script>
<div class="hero team">
    <div class="textbox-container">
        <div class="titlebox"><h1>The WRI Team</h1></div>
        <div class="textbox"><p>The Works Research Institute collaborates with researchers and experts committed to advancing knowledge and innovation through an interdisciplinary approach.</p></div>
    </div>
    <img class="teaser-3" style="position: absolute; left: 0; right: 0; bottom: 20px; margin-left: auto; margin-right: auto; width: 34px;" src="/images/arrow.png">
</div>

<div class="section-wrapper">
    <div class="row">
        <div class="teaser-card">
            <div class="teaser-image"></div>
            <div class="teaser-textbox">
                <div class="teas-txt-inner">
                    <h3>Amira Val Baker</h3>
                    <h4>Research Scientist</h4>
                    <p>Physics and Mathematics</p>
                    <p>The Works Research Institute</p>
                </div>
                <a class="link" href="">view cv<div class="href-arrow"></div></a>
            </div>
        </div>
        <div class="teaser-card">
            <div class="teaser-image"></div>
            <div class="teaser-textbox">
                <div class="teas-txt-inner">
                    <h3>Máté Csanád</h3>
                    <h4>Collaborating Scientist</h4>
                    <p>Physics</p>
                    <p>ELTE Eötvös Loránd University</p>
                </div>
                <a class="link" href="">view cv<div class="href-arrow"></div></a>
            </div>
        </div>
        <div class="teaser-card">
            <div class="teaser-image"></div>
            <div class="teaser-textbox">
                <div class="teas-txt-inner">
                    <h3>Nour Atassi</h3>
                    <h4>Research Assistant</h4>
                    <p>Biology</p>
                    <p>The Works Research Institute</p>
                </div>
                <a class="link" href="">view cv<div class="href-arrow"></div></a>
            </div>
        </div>
        <div class="teaser-card">
            <div class="teaser-image"></div>
            <div class="teaser-textbox">
                <div class="teas-txt-inner">
                    <h3>Paul Oomen</h3>
                    <h4>Head of Research & Development</h4>
                    <p>Acoustics, Audio Engineering</p>
                    <p>The Works Research Institute</p>
                </div>
                <a class="link" href="">view cv<div class="href-arrow"></div></a>
            </div>
        </div>
        <div class="teaser-card">
            <div class="teaser-image"></div>
            <div class="teaser-textbox">
                <div class="teas-txt-inner">
                    <h3>Daniela Gentile</h3>
                    <h4>Research Assistant</h4>
                    <p>Biology, Sonic Activism, Ecology of Listening</p>
                    <p>The Works Research Institute</p>
                </div>
                <a class="link" href="">view cv<div class="href-arrow"></div></a>
            </div>
        </div>
    </div>

    <div class="row row2">
        <div class="teaser-card">
            <div class="teaser-image"></div>
            <div class="teaser-textbox">
                <div class="teas2-txt-inner">
                    <h3>Ia Mgvdliashvili</h3>
                    <h4>Software Prototyping</h4>
                    <p>Full Stack Development</p>
                    <p>The Works Research Institute</p>
                </div>
                <a class="link" href="">view cv<div class="href-arrow"></div></a>
            </div>
        </div>
        <div class="teaser-card">
            <div class="teaser-image"></div>
            <div class="teaser-textbox">
                <div class="teas2-txt-inner">
                    <h3>John Stuart Reid</h3>
                    <h4>Associate Researcher</h4>
                    <p>Acoustic Physics</p>
                    <p>Sonic Age Ltd</p>
                </div>
                <a class="link" href="">view cv<div class="href-arrow"></div></a>
            </div>
        </div>
        <div class="teaser-card">
            <div class="teaser-image"></div>
            <div class="teaser-textbox">
                <div class="teas2-txt-inner">
                    <h3>Nicolas Fellas</h3>
                    <h4>Technical Manager</h4>
                    <p>Audio Engineering</p>
                    <p>The Works Research Institute</p>
                </div>
                <a class="link" href="">view cv<div class="href-arrow"></div></a>
            </div>
        </div>
        <div class="teaser-card">
            <div class="teaser-image"></div>
            <div class="teaser-textbox">
                <div class="teas2-txt-inner">
                    <h3>Bashar M Farran</h3>
                    <h4>Collaborating Scientist</h4>
                    <p>Neurolinguistics</p>
                    <p>The Works Research Institute</p>
                </div>
                <a class="link" href="">view cv<div class="href-arrow"></div></a>
            </div>
        </div>
        <div class="teaser-card">
            <div class="teaser-image"></div>
            <div class="teaser-textbox">
                <div class="teas2-txt-inner">
                    <h3>Christoph Braun</h3>
                    <h4>Collaborating Scientist</h4>
                    <p>Neurobiology</p>
                    <p>University of Tübingen, Germany</p>
                </div>
                <a class="link" href="">view cv<div class="href-arrow"></div></a>
            </div>
        </div>
    </div>
</div>